
body {
   background-image: url('../images/buku/icons/PERPUS.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px); 
}


.login-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px; 
    padding: 25px; 
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    border: 3px solid #007BFF;
}


.login-box img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}


.login-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


.login-box form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.2s;
}

.input-group input:focus {
    border-color: #007BFF;
    outline: none;
}


.sign-up-btn {
    background-color: #007BFF;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

.sign-up-btn:hover {
    background-color: #0056b3;
}

.footer-link {
    text-align: center;
    margin-top: 25px;
}

.footer-link span, .footer-link a {
    font-size: 13px;
    color: #555;
}

.footer-link a {
    color: #007BFF;
    text-decoration: none;
}

.footer-link a:hover {
    text-decoration: underline;
}