body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4a90e2;
  padding: 1rem 2rem;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.toggle-mode {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-section {
  text-align: center;
  margin: 2rem 0;
}

.search-section input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Kategori */
.kategori {
  padding: 2rem;
  text-align: center;
}

.kategori-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Rekomendasi */
.rekomendasi {
  padding: 2rem;
}

.book-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.book-card {
  width: 150px;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.book-card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  z-index: 2;
}


.book-img {
  width: 100%;
  height: 150px;
  background: #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
}

button {
  background: #4a90e2;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
